- content_for :title, "Conversations".html_safe

.content
  .row
    .large-12.columns
      %h1 Conversations

  .row
    .large-12.columns
    %table
      %thead
        %tr
          %th.narrow Last Reply
          %th.narrow From
          %th Topic
      %tbody
        - @conversations.each do |conversation|
          %tr
            %td
              = conversation.messages.last.created_at.strftime("%m/%d/%Y at %I:%M%p")
            %td
              = conversation.other_participant(current_users)
            %td
              = link_to conversations.messages.last.subject, message_path(conversations.messages.last)

    = link_to "New Conversation", new_message_path, class: "small button"
