- if @unsaved

  = form_for @subscription, :url => subscriptions_path do |f|
    = f.text_field :email, :placeholder => @subscription.message
    = f.submit "Sign Up"

- else

  %h2.top_margin
    Thanks for signing up! Check your email for a message confirming your subscription.

  %h2
    Join the authors on Google Plus:
    %br
    = link_to "Register for an upcoming roundtable", "https://docs.google.com/forms/d/15viAkMBqhBr6focqVlti8t1g8lPw-am9uJZhZmvlfHA/viewform"
