- content_for :title, "About Open Source for Women"

.content
  .row
    .large-6.columns

      %h1 About OS4W

      %p
        Open source is the foundation on which the Internet is built. For its continued success, it's critical to incorporate diverse voices and engage people with different experiences, talents, and viewpoints. Otherwise we risk a world of technology created by, and supporting, a non-inclusive and hostile monoculture.

      %p
        Together we can make things better. OS4W aims to be a resource for connecting all women, including women of color and transgender women, to open source projects that are
        = link_to "welcoming, inclusive, and appreciative of diversity", "http://contributor-covenant.org"
        in their contributors.

      %p
        Let's start changing things and making the world of open source a better place for everyone.
