- content_for :title, "Code of Conduct"

.content
  .row
    .large-12.columns

      %h1 The Open Source for Women Code of Conduct

      %h2 The Short Version

      %p
        OpenSourceForWomen.org is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form.

      %p
        This code of conduct applies to all OpenSourceForWomen.org spaces, including our mailing lists and IRC channel, both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the OS4W staff.

      %p
        Some OpenSourceForWomen.org spaces may have additional rules in place, which will be made clearly available to participants. Participants are responsible for knowing and abiding by these rules.

      %h2 Longer version

      %p
        OpenSourceForWomen.org is dedicated to providing a harassment-free experience for everyone. We do not tolerate harassment of participants in any form.

      %p
        This code of conduct applies to all OpenSourceForWomen.org spaces, including our mailing lists and IRC channel, both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the OS4W staff.

      %p
        Some OpenSourceForWomen.org spaces may have additional rules in place, which will be made clearly available to participants. Participants are responsible for knowing and abiding by these rules.

      %p
        Harassment includes:

      %ul

        %li Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, body size, race, or religion

        %li Unwelcome comments regarding a person's lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.

        %li Deliberate misgendering or use of 'dead' or rejected names

        %li Gratuitous or off-topic sexual images or behaviour  in spaces where they're not appropriate
        %li Physical contact and simulated physical contact (eg, textual descriptions like "*hug*" or "*backrub*") without consent or after a request to stop.
        %li Threats of violence
        %li Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm
        %li Deliberate intimidation
        %li Stalking or following
        %li Harassing photography or recording, including logging online activity for harassment purposes

        %li Sustained disruption of discussion

        %li Unwelcome sexual attention

        %li Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others

        %li Continued one-on-one communication after requests to cease

        %li Deliberate "outing" of any aspect of a person's identity without their consent except as necessary to protect vulnerable people from intentional abuse

        %li Publication of non-harassing private communication

      %p
        OpenSourceForWomen.org prioritizes marginalized people's safety over privileged people's comfort. OS4W staff will not act on complaints regarding:

      %ul

        %li 'Reverse' -isms, including 'reverse racism,' 'reverse sexism,' and 'cisphobia'

        %li Reasonable communication of boundaries, such as "leave me alone," "go away," or "I'm not discussing this with you."

        %li Communicating in a 'tone' you don't find congenial

        %li Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions

      %h3 Reporting

      %p
        If you are being harassed by a member of OpenSourceForWomen.org, notice that someone else is being harassed, or have any other concerns, please contact the OS4W staff at staff@opensourceforwomen.org. If the person who is harassing you is on the team, they will recuse themselves from handling your incident. We will respond as promptly as we can.

      %p
        This code of conduct applies to OpenSourceForWomen.org spaces, but if you are being harassed by a member of OpenSourceForWomen.org outside our spaces, we still want to know about it. We will take all good-faith reports of harassment by OpenSourceForWomen.org members seriously. This includes harassment outside our spaces and harassment that took place at any point in time. The abuse team reserves the right to exclude people from OpenSourceForWomen.org based on their past behavior, including behavior outside OpenSourceForWomen.org spaces and behavior towards people who are not in OpenSourceForWomen.org.

      %p
        In order to protect volunteers from abuse and burnout, we reserve the right to reject any report we believe to have been made in bad faith. Reports intended to silence legitimate criticism may be deleted without response.

      %p
        We will respect confidentiality requests for the purpose of protecting victims of abuse. At our discretion, we may publicly name a person about whom we've received harassment complaints, or privately warn third parties about them, if we believe that doing so will increase the safety of OpenSourceForWomen.org members or the general public. We will not name harassment victims without their affirmative consent.

      %h3 Consequences

      %p
        Participants asked to stop any harassing behavior are expected to comply immediately.

      %p
        If a participant engages in harassing behavior, OS4W staff may take any action they deem appropriate, up to and including expulsion from all OpenSourceForWomen.org spaces and identification of the participant as a harasser to other OpenSourceForWomen.org members or the general public.

      %h3 Attribution

      %p
        This anti-harassment policy is based on the example policy from the Geek Feminism wiki, created by the Geek Feminism community.The Open Source for Women Code of Conduct
