.content
  %h1
    Open
    %span.contrast
      Source
    %br
    For Women

.content

  .col
    %p
      Only 2% of open source contributors are women. Yet open source is the foundation on which the Internet is built, and will only become more important in the future. It's critical that we hear from diverse voices and engage people with different experiences, talents, and viewpoints as we move forward. 

    %p
      Together we can make this happen. This site aims to be a resource for connecting all women of all skill levels to open source projects that are welcoming, inclusive, and recognize the benefits of diversity in their contributors.

    %p
      If you have an idea on how to make this site work for you, please submit an issue to 
      = link_to "our Github repository.", "https://github.com/bantik/opensourceforwomen.org/"
      We also welcome contributions in the form of pull requests. This resource is for you; help make it what it needs to be!

  .col

    %p
      To get updates on our progress and to show your support for this effort, please join our low-frequency mailing list by filling out the form below. Thanks!

    %p
      To get updates on our progress and to show your support for this effort, please join our low-frequency mailing list by filling out the form below. Thanks!

    = render 'shared/sign_up_form'
    
  %br.clear