.content
  %h1
    Open
    %span.contrast
      Source
    %br
    For Women

.content

  .col
    %p
      Only 2% of open source contributors are women. Yet open source is the foundation on which the Internet is built, and will only become more important in the future. It's critical that we hear from diverse voices and engage people with different experiences, talents, and viewpoints as we move forward. 

    %p
      Together we can make this happen. This site aims to be a resource for connecting all women of all skill levels to open source projects that are
      =link_to "welcoming, inclusive, and recognize the benefits of diversity", "https://github.com/Bantik/contributor_covenant"
      in their contributors.

    %p
      If you have an idea on how to make this site work for you, please submit an issue to 
      = link_to "our Github repository.", "https://github.com/bantik/opensourceforwomen.org/"
      or send an email to ideas at opensourceforwomen dot org. We also welcome contributions in the form of pull requests. This resource is for you; let's work together to make it what it needs to be!

  .col

    = render 'shared/sign_up_form'
    
  %br.clear

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2770609-19', 'opensourceforwomen.org');
    ga('send', 'pageview');