body {
  min-width: 800px;
}

.top-bar {
  min-width: 800px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 3em !important;
  border-top: 1px solid #000000;
}

.field_with_errors checkbox {
  float: left;
}

li {
  margin-left: 1em;
}

table {
  width: 100%;
}

td .wide {
  width: 50%;
}

.logo {
  margin-left: 1em;
  margin-top: -4px;
  height: 50%;
  width: 50%;
}

.toast-top-center {
    top: 24px;
    left: 40%;
}

.content {
  clear: both;
  margin-top: 8%;
}

.footer-row {
  background: #333333;
  width: 100%;
  overflow: hidden;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  padding: 1em 0em 0em 1em;
  color: #eeeeee;
}

.footer-row a {
  color: #eeeeee;
}

#featured-content {
  margin-top: 0px;
  width: 100%;
  height: 75%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  max-width: initial;
  text-align: center;
  background-image: url("/assets/banner.png");
  background-position: center;
  font-weight: 900;
  padding-bottom: 3em;
  border-bottom: 3em solid #333333;
}

.featured-row:first-child {
  margin-top: 10%;
}

.centered {
  text-align: center;
}

.featured-row {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  color: #eeeeee;
  font-size: 2em;
}

.boxed-white {
  border: 1px solid #eeeeee;
  padding: 1em;
  color: #eeeeee;
  text-decoration: none;
  font-size: .5em;
}

.boxed-white:hover {
  border: 3px solid #eeeeee;
  color: #eeeeee;
  text-decoration: none;
}

.button a {
  color: #ffffff;
}

h1 {
  border-bottom: 1px dotted #aaaaaa;
  margin-bottom: 1em;
}

h2 {
  color: #333333;
  font-size: 1.5em;
}

h3 {
  color: #333333;
  margin-top: -1px;
  font-size: 1.1em;
}

div.field_with_errors {
  display: inline;
}

li {
  margin-bottom: 1em;
}
.check-box-label {
  float: right;
}