@background-color:    #8D003B;
@base-font-color:     #E5E5E5;
@dark-font-color:     #E2FA00;
@contrast-font-color: #906CD7;
@border-color:        #222222;
@link-color:          #EAFD3F;

@base-font:           "Homenaje", sans-serif;
