- html_class ||= 'avatar float-right'
- if user.avatar.url == User::MISSING_AVATAR
  = image_tag(user.gravatar_url(default: "identicon"), class: html_class)
-else
  = image_tag(user.avatar.url(:square), class: html_class)
