- if user.avatar.url == User::MISSING_AVATAR
  = image_tag(user.gravatar_url(default: "identicon"), class: "avatar float-right")
-else
  = image_tag(user.avatar.url(:square), class: "avatar float-right")
